--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchaudio==2.2.0
streamlit>=1.32.0
librosa>=0.10.1
soundfile>=0.12.1
matplotlib>=3.8.0
transformers>=4.38.0
sentence-transformers>=2.5.0
openai-whisper>=20231117
reportlab>=4.1.0
python-dotenv>=1.0.1
nltk>=3.8.1
audioread>=3.0.1
numpy<2.0.0
fastapi>=0.109.0
uvicorn>=0.27.0
python-multipart>=0.0.9
google-generativeai>=0.4.0
