--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchaudio==2.2.0
streamlit
librosa
soundfile
matplotlib
sentence-transformers
openai-whisper
reportlab
python-dotenv
nltk
numpy<2.0.0
google-generativeai
